@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: url("QldXNThLqRwH-OJ1UHjlKGHiw71p5_g.eot")/*tpa=https://fonts.gstatic.com/s/inconsolata/v17/QldXNThLqRwH-OJ1UHjlKGHiw71p5_g.eot*/;
}
